// main ad placement (bottom right)
#ad
  width 125px
  position fixed
  z-index ($z-header - 1)
  bottom 10px
  right 10px
  padding 10px
  background-color #fff
  border-radius 3px
  font-size 13px
  a
    display inline-block
    color $light
    font-weight normal
  span
    color $light
    display block
  img
    width 125px
  .carbon-img, .carbon-text
    display block
    margin-bottom 4px
    font-weight normal
    color $medium
  .carbon-poweredby
    color #aaa
    font-size 10px
    letter-spacing .8px
    text-transform uppercase
    font-weight normal

// text ad (end of the documentation)
#bsa-native
  .native-box
    box-shadow inset 0 0 0 1px hsla(0, 0%, 0%, .075)
    background-color #f8f8f8;
    color $medium
    display flex
    border-radius 3px;
    padding .65em 1em
    align-items center
    margin-bottom 1.2em
    .native-link
      text-decoration none
      display flex
      align-items center
      padding 10px 14px
    .native-sponsor
      background-color #41b983
      color #fff
      font-size 12px
      border-radius 2px
      margin-right 1em
      line-height 1
      padding 6px 10px
      font-weight 600
      text-transform uppercase
    .native-text
      font-weight normal
      line-height 1.35
      text-align left


@media print
  #ad
    display none
