@import "_settings"
$bts-banner-height = 80px

body.has-bts-banner

  &.docs
    @media (min-width: 900px)
      padding-top: 161px
    #bts
      position: fixed
      top: 0
      width: 100%
      @media screen and (max-width: 900px)
        display: none
    #header
      top: $bts-banner-height

  #mobile-bar
    &.top
      .menu-button
        top: 27px
    .menu-button
      transition: top 250ms cubic-bezier(0.18, 0.89, 0.32, 1.28)
      background: url(../images/menu-bts.png) center center no-repeat
      background-size: 24px

  #sidebar-sponsors-platinum-right
    top: 90px + $bts-banner-height

  .sidebar
    @media (min-width: 900px)
      top: $header-height + $bts-banner-height

#bts
  font-family "CircularStd"
  min-height: 80px
  z-index: $z-header - 1
  box-sizing: border-box
  color: #fff
  background-size: cover
  background-color: #1E204D
  background-repeat: no-repeat
  background-position: top right
  background-image: url(../images/banners/bts-mobile.svg)
  display: flex
  align-items: center
  padding: 0 0 0 50px
  &.bts-hidden
    display: none
  @media (min-width: 680px)
    justify-content: center
    background-image: url(../images/banners/bts-tablet.svg)
    padding: 0 20px 0 40px
  @media (min-width: 900px)
    background-image: url(../images/banners/bts-desktop.svg)
    background-position: top right
    &:hover
      .bts-button
        background-color: #38a1f3
  @media (min-width: 1600px)
    background-position: top right
  .bts-backpack
    img
      display: inline-block
      height: 50px
      width: 50px
      margin-right: 10px
      @media (min-width: 680px)
        margin-right: 0
        height: 70px
        width: 70px
  .bts-slogan
    @media (min-width: 680px)
      padding-left: 20px
      padding-left: 12px
      padding-right: 10px
    @media (min-width: 900px)
      padding-right: 60px
      padding-left: 20px
    .bts-title
      color: #FFF
      font-size: 16px
      font-weight: bold
      width: 253px
      @media (min-width: 680px)
        font-size: 17px
        width: auto
        margin-bottom: 8px
      @media (min-width: 900px)
        margin-bottom: 0
        font-size: 22px
      .bts-dot
        display: none
        @media (min-width: 680px)
          display: inline
      .bts-title-offer
        display: block
        @media (min-width: 680px)
          display: inline
      .bts-title-grey
        color: #b3b1dc
        text-decoration: line-through
      .bts-title-green
        color: #1fdb69
    .bts-subtitle
      display: none
      @media (min-width: 680px)
        color: #c5c2f4
        font-size: 16px
        display: inline-block
  .bts-button
    color: #fff
    background-color: #667dff
    border-radius: 40px
    font-size: 16px
    font-weight: 500
    transition: all .25s ease-in
    display: none
    white-space: nowrap
    padding: 17px 27px
    @media (min-width: 680px)
      display: inline-block
  .bts-close
      color: #fff;
      font-size: 28px
      position: absolute
      z-index: 9999
      right: 10px
      line-height: 1
      &:hover
        color: #56D8FF
      @media (min-width: 1600px)
        padding: 10px