@import "_settings"
@import "_syntax"

body
    font-family $body-font
    color $medium
    margin 0

a
    text-decoration none
    color $medium

img
    border none

h1, h2, h3, h4, strong
    font-weight 600
    color $dark

code, pre
    font-family $code-font
    font-size $code-font-size
    background-color #f6f6f6

code
    color $light
    padding 2px 6px
    margin 0 2px
    border 1px solid #e6e6e6

em
    color $light

p
    word-spacing 0.05em

.highlight
    margin 0
    overflow-x auto
    table, tr, td
        width 100%
        border-collapse collapse
        padding 0
        margin 0
    pre
        padding 1.2em 1.5em
    .gutter
        width 1.5em
        pre
            border-top-left-radius $radius
            border-bottom-left-radius $radius
    .code
        pre
            padding-left .5em
            border-top-right-radius $radius
            border-bottom-right-radius $radius

#main
    position relative
    z-index 1
    padding 0 60px 30px