@import "_settings"
@import "_syntax"

body
    font-family $body-font
    -webkit-font-smoothing antialiased
    color $medium
    margin 0

a
    text-decoration none
    color $medium

img
    border none

h1, h2, h3, h4, strong
    font-weight 600
    color $dark

code, pre
    font-family $code-font
    font-size $code-font-size
    background-color #f9f9f9

code
    color $light
    padding 2px 6px
    margin 0 2px
    border 1px solid #e6e6e6
    white-space nowrap

em
    color $light

p
    word-spacing 0.05em

a.button
    display inline-block
    font-size 1.25em
    color #fff !important
    font-weight 400 !important
    background-color $green
    padding .5em 1.5em
    border-radius 4px
    text-shadow 0 1px 1px rgba(0,0,0,.2)
    border-bottom 1px solid darken($green, 12%)
    transition all .2s ease-out
    &:hover
        background-color lighten($green, 10%)

.highlight
    overflow-x auto
    position relative
    padding 0
    background-color #f9f9f9
    padding .8em .8em .4em
    border-radius 2px
    box-shadow 0 1px 1px rgba(0,0,0,0.125)
    table, tr, td
        width 100%
        border-collapse collapse
        padding 0
        margin 0
    pre
        padding 1.2em 1.5em 
        margin 0
    .gutter
        width 1.5em
        pre
            border-top-left-radius $radius
            border-bottom-left-radius $radius
    .code
        pre
            padding-left .5em
            border-top-right-radius $radius
            border-bottom-right-radius $radius
    &[class*="lang-"]
        .code:after
            position absolute
            top 0
            right 0
            color #ccc
            text-align right
            font-size .75em
            padding 5px 10px 0
            line-height 15px
            height 15px
            border-top-right-radius $radius
            border-top-left-radius $radius
            font-weight 600
    &.lang-html .code:after
        content 'HTML'
    &.lang-js .code:after
        content 'JS'
    &.lang-bash .code:after
        content 'Shell'
    &.lang-css .code:after
        content 'CSS'

#main
    position relative
    z-index 1
    padding 0 60px 30px