@font-face
    font-family "CircularStd"
    src url("../fonts/circular/CircularStd-Bold.eot")
    src url("../fonts/circular/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/circular/CircularStd-Bold.woff") format("woff"), url("../fonts/circular/CircularStd-Bold.ttf") format("truetype"), url("../fonts/circular/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg")
    font-weight 600
    font-style normal
    font-display swap

@font-face
    font-family "CircularStd"
    src url("../fonts/circular/CircularStd-Medium.eot")
    src url("../fonts/circular/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/circular/CircularStd-Medium.woff") format("woff"), url("../fonts/circular/CircularStd-Medium.ttf") format("truetype"), url("../fonts/circular/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg")
    font-weight 500
    font-style normal
    font-display swap

@font-face
    font-family "CircularStd"
    src url("../fonts/circular/CircularStd-Book.eot")
    src url("../fonts/circular/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/circular/CircularStd-Book.woff") format("woff"), url("../fonts/circular/CircularStd-Book.ttf") format("truetype"), url("../fonts/circular/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg")
    font-weight 400
    font-style normal
    font-display swap