@font-face
  font-family: "Source Sans Pro"
  src: local("Source Sans Pro"), url(/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf)

@font-face
  font-family: "Source Sans Pro"
  src: local("Source Sans Pro Light"), url(/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf)
  font-weight: 300

@font-face
  font-family: "Source Sans Pro"
  src: local("Source Sans Pro Semibold"), url(/fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf)
  font-weight: 600

@font-face
  font-family: "Roboto Mono"
  src: local("Roboto Mono"), url(/fonts/Roboto_Mono/RobotoMono-Regular.ttf)

@font-face
  font-family: "Dosis"
  src: local("Dosis Medium"), url(/fonts/Dosis/Dosis-Medium.ttf)
  font-weight: 500
