$width = 800px

// font faces
$body-font = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$code-font = 'Source Code Pro', 'Menlo', 'Consolas', monospace

// font sizes
$body-font-size = 16px

// colors
$dark   = #333
$medium = #666
$light  = #999
$green  = #42b983
$border = #ddd