// font faces
$body-font = "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
$logo-font = "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
$code-font = "Roboto Mono", Monaco, courier, monospace

// font sizes
$body-font-size = 1rem
$code-font-size = .85em

// colors
$dark   = #273849
$medium = #304455
$light  = #4f5959
$green  = #42b983
$border = #dddddd
$codebg = #f8f8f8
$red = #ff6666
$info = #1C90F3

$radius = 2px
$content-padding-vertical = 35px

// header settings
$header-inner-height = 41px
$heading-padding-vertical = 10px
$header-height = $header-inner-height + $heading-padding-vertical * 2
$mobile-header-height = 40px
// prevent headers from being covered by the top nav upon navigation
$heading-link-padding-top = $header-height + $content-padding-vertical
$mobile-heading-link-padding-top = $mobile-header-height + $content-padding-vertical
$h2-margin-top = 45px
$h3-margin-top = 52px

// z-index manifest
$z-base = 1
$z-sidebar = 10
$z-header = 20
$z-overlay = 30
$z-modal = 40
