// font faces
$body-font = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$logo-font = 'Lato', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$code-font = 'Inconsolata', Monaco, courier, monospace

// font sizes
$body-font-size = 16px
$code-font-size = .9em

// colors
$dark   = #2c3e50
$medium = #34495e
$light  = #7f8c8d
$green  = #42b983
$border = #dddddd
$codebg = #f9f9f9

$radius = 0px