.content
  .platinum
    text-align center
    a
      display inline-block
      margin 20px
    img
      width 250px
      vertical-align middle

  .sponsor-section
    text-align center
    margin-top 0
    margin-bottom 60px

  .patreon-sponsors
    a, img
      width: 140px
      display: inline-block
      vertical-align: middle
    a
      margin: 10px 20px

  .open-collective-sponsors
    img
      max-height 80px
      margin-right 20px

#one-time-donations
  a, svg
    display inline-block
    vertical-align middle
  a
    margin 20px
    color $medium
  svg
    margin-right 5px

#coin-details
  text-align center
  border-radius 4px
  padding 30px
  font-weight bold
  img
    width 200px
  p
    padding 0
    margin 0 0 20px
