#sponsors
  text-align: center
  padding: 35px 40px 45px
  background-color: #f6f6f6
  .inner
    max-width: 700px
    margin: 0px auto
  h3
    color: #999
    margin: 0 0 10px
  a
    margin: 20px 15px 0
    position: relative
  a, img
    width: 100px
    display: inline-block
    vertical-align: middle
  img
    transition: all .3s ease
    filter: grayscale(100%)
    opacity: 0.66
    &:hover
      filter: none
      opacity: 1
  a.vip
    display: block
    margin: 30px auto 15px
    width: 200px
    img
      width: 200px
  .become-sponsor
    margin-top: 40px
    font-size: .9em
    font-weight: 700
    width: auto
    background-color: transparent

  .open-collective-sponsors
    margin-top 60px
    a, img
      width: auto
      max-width: 100px
      max-height: 60px
    h4
      color #999
      margin-bottom 0
  &.active
    img
      filter: none
      opacity: 1
