.main-sponsor
  color: $light
  font-size: .85em
  .logo
    color: $light
    margin-top: 10px
    text-align: center
    font-weight: bold
    display block
    &:first-child
      margin-top: 18px
    &:last-child
      margin-bottom: 20px
  img, a
    width: 125px

.become-backer
  border: 1px solid $green
  border-radius: 2em
  display: inline-block
  color: $green
  font-size: .8em
  width: 125px
  padding: 4px 0
  text-align: center
  margin-bottom: 20px

#sidebar-sponsors-platinum-left
  display block

#sidebar-sponsors-platinum-right
  display none
  position fixed
  z-index ($z-header - 1)
  top 90px
  right 20px

@media screen and (min-width: 1300px)
  #sidebar-sponsors-platinum-left
    display none
  #sidebar-sponsors-platinum-right
    display block
