.main-sponsor
  color: $light
  font-size: .85em
  .logo
    color: $light
    margin-top: 6px
    text-align: center
    font-weight: bold
    display block
    &:first-child
      margin-top: 12px
    &:last-child
      margin-bottom: 12px
  img, a
    width: 125px

.become-backer
  border: 1px solid $green
  border-radius: 2em
  display: inline-block
  color: $green
  font-size: .8em
  width: 125px
  padding: 4px 0
  text-align: center
  margin-bottom: 20px

@media screen and (min-width: 1300px)
  #sidebar-sponsors
    position fixed
    z-index 99
    top 90px
    right 20px
