// frontpage
#sponsors
  text-align: center
  padding: 35px 40px 45px
  background-color: #f6f6f6
  .inner
    max-width: 700px
    margin: 0px auto
  h3
    color: #999
    margin: 0 0 10px
  a
    margin: 20px 15px 0
    position: relative
  a, img
    width: 100px
    display: inline-block
    vertical-align: middle
  img
    transition: all .3s ease
    filter: grayscale(100%)
    opacity: 0.66
    &:hover
      filter: none
      opacity: 1
  a.vip
    display: block
    margin: 30px auto 15px
    width: 200px
    img
      width: 200px
  .become-sponsor
    margin-top: 40px
    font-size: .9em
    font-weight: 700
    width: auto
    background-color: transparent

  .open-collective-sponsors
    margin-top 60px
    a, img
      width: auto
      max-width: 100px
      max-height: 60px
    h4
      color #999
      margin-bottom 0
  &.active
    img
      filter: none
      opacity: 1

// support-vuejs page
.content
  .platinum
    text-align center
    a
      display inline-block
      margin 20px
    img
      width 250px

  .sponsor-section
    text-align center
    margin-top 0
    margin-bottom 60px

  .patreon-sponsors
    a, img
      width: 140px
      display: inline-block
      vertical-align: middle
    a
      margin: 10px 20px

  .open-collective-sponsors
    img
      max-height 80px
      margin-right 20px

#one-time-donations
  a, svg
    display inline-block
    vertical-align middle
  a
    margin 20px
    color $medium
  svg
    margin-right 5px

#coin-details
  text-align center
  border-radius 4px
  padding 30px
  font-weight bold
  img
    width 200px
  p
    padding 0
    margin 0 0 20px
