@import "_settings"

.team-person
  h3 > img
    float right
    max-height 50px
  .fa-github
    color #24292E
  .fa-twitter
    color #1DA1F3
  ul
    padding-left 0 !important
  li
    display inline-block
    margin-right 1em
    background #fafafa
    padding: 0 .5em
    border-radius 1em
    img, i
      margin-right .3em

.team-person-official-repos
  img
    display inline-block
    vertical-align middle
    max-height 1em

.team-person-category-label.team-person-category-label
  padding 0
  background transparent
  font-weight bold
