@import "_settings"
$mobile-bar-height = 40px
$vs-banner-height-desktop = 80px
$vs-banner-height-mobile = 80px
$menu-height = 63px

body.has-vs-banner

  #v3-banner
    margin-top: $vs-banner-height-mobile
    @media (min-width: 680px)
      margin-top: $vs-banner-height-desktop
    @media (min-width: 900px)
      margin-top: 0

  #mobile-bar
    top: $vs-banner-height-mobile
    @media (min-width: 680px)
      top: $vs-banner-height-desktop

  .sidebar
    top: $vs-banner-height-mobile + $mobile-bar-height
    @media (min-width: 680px)
      top: $vs-banner-height-desktop + $mobile-bar-height
    @media (min-width: 900px)
      top: $vs-banner-height-desktop + $menu-height

  .content
    padding-top: 85px
    @media (min-width: 680px)
      padding-top: 125px
    @media (min-width: 900px)
      padding-top: 35px

  &.docs
    @media (min-width: 900px)
      padding-top: 144px

    #vs
      position: fixed

    #header
      top: $vs-banner-height-mobile
      @media (min-width: 680px)
        top: $vs-banner-height-desktop

    #sidebar-sponsors-platinum-right
      @media (min-width: 900px)
        top: 160px

#vs
  font-family "Archivo", sans-serif
  z-index: 8
  box-sizing: border-box
  color: #FFF
  background-color: #000c19
  display: flex
  align-items: center
  position: fixed
  left: 0
  right: 0
  padding: 0 10px
  min-height: $vs-banner-height-mobile
  top: 0
  @media (min-width: 680px)
    justify-content: center
    min-height: $vs-banner-height-desktop
    background-image: url(/images/banners/vueschool_blackfriday_background_tablet.svg)
  @media (min-width: 900px)
    position: static
    background-image: url(/images/banners/vueschool_blackfriday_background_desktop.svg)

  &.vs-hidden
    display: none

  &:hover
    .vs-core
      .vs-button
        background: linear-gradient(261deg, #e61463 100%, #db5248 3%);

  .vs-core
    display: flex
    align-items: center

    .vs-slogan
      font-family: Archivo
      color: #FFF
      margin-left: 8px
      @media (min-width: 680px)
        margin-left: 24px
      .vs-slogan-subtitle
        font-size: 12px
        @media (min-width: 680px)
          font-size: 14px
      .vs-slogan-title
        margin-top: 6px
        font-size: 16px
        font-weight: 600
        @media (min-width: 680px)
          font-size: 18px
        strong
          color: #ffae29
          font-weight: 600

    .vs-button
      margin-left: 16px
      color: #FFF
      padding: 7px 10px
      border-radius: 4px
      background: linear-gradient(to left, #e61b60, #dd4a4c)
      font-weight: 600
      white-space: nowrap
      margin-right: 30px
      @media (min-width: 680px)
        margin-right: 0
        padding: 8px 24px
        margin-left: 32px
      @media (min-width: 680px)
        margin-left: 69px

  .vs-close
      right: 6px
      position: absolute
      @media (min-width: 680px)
        right: 10px
        padding: 10px
        right: 20px
      &:hover
        color: #56D8FF