// Screen sizes
tiny    = 330px
small   = 465px
phone   = 700px
tablet  = 900px
desktop = 1000px

// Media queries mixins
mqMax(val)
  @media all and (max-width: val)
    {block}
mqMin(val)
  @media all and (min-width: val + 1px)
    {block}

// Animations easing
animIn  = all cubic-bezier(0.34, 0.06, 0.01, 1) 2s
animOut = all cubic-bezier(0.34, 0.06, 0.01, 1) 1s

.vuemastery-banner
  display none
  background #071532
  overflow hidden
  position relative
  transition animIn
  cursor pointer
  z-index 11

  &:after,
  &:before
    content ''
    position absolute
    pointer-events none
    transition animOut
    bottom 0
    
  &:after
    width 170%
    height 1000%
    position absolute
    transition animIn
    background-image url(../images/stars.svg)
    background-position center
    top 0

  &:before
    height 100%
    width 100%
    background-image linear-gradient(270deg, #9FFFC7 0.74%, #8EF2C4 7.03%, #60D0BB 19.56%, #189AAD 37%, #0088A8 42.4%, #0085A5 43.64%, #044D6C 68.47%, #062442 89.74%, #070A28 106.41%, #08011F 116.41%)

  &:hover
    +mqMin(desktop)
      &:before,
      &:after
        transition animIn

      &:before
        transform translateX(50%)

      &:after
        transform rotate(-28deg) translateY(-69%)


      .vuemastery-planet
        transform rotate(-35deg) scale(10) translateX(40%)
        &:after
          transform translateX(-393px) translateY(-430px) rotate(30deg)
          opacity 0

      .vuemastery-banner--wrapper
        transition animOut

        +mqMin(phone)
          transform translateX(-150px)

        +mqMin(desktop)
          transform translateX(-250px)

      .vuemastery-banner--logo
        transition animOut

        +mqMin(phone)
          transform translateX(-200px)

        +mqMin(desktop)
          transform translateX(-300px)
    
      .vuemastery-banner--close
        &:before,
        &:after
          transform-origin 100%

        &:hover
          &:before,
          &:after
            transition transform .2s ease-in .5s, transform-origin .2s ease-in
            transform-origin 50%

.vuemastery-banner--link
  display flex
  height 80px
  justify-content center
  overflow hidden
  position relative
  z-index 2

  +mqMax(phone)
    justify-content start
    height 40px

.vuemastery-banner--wrapper
  display flex
  height 100%
  align-items center
  position relative
  color #fff
  z-index 3
  transition animIn

  p
    margin -3px 50px 0 20px
    font-size 1.17rem
    font-weight 600
    white-space nowrap
    position relative

  span
    font-size 1rem
    display block

  +mqMax(phone)
    p, span
      font-size .8rem
      color #fff

  +mqMax(small)
    span
      display none

  +mqMax(tiny)
    p
      font-size 0.6rem
      margin -3px 28px 0 0px

.vuemastery-banner--logo
  height 102%
  margin-top -1px
  margin-left 27px
  position relative
  z-index 2
  transition animIn

  +mqMax(phone)
    justify-content flex-start
  
.vuemastery-banner--close
  height 100%
  width 75px
  position absolute
  top 0
  right 0
  z-index 2
  -webkit-tap-highlight-color transparent
  cursor pointer

  &:before,
  &:after
    content ''
    width 25px
    height 2px
    position absolute
    top 39px
    right 25px
    background-color #fff
    transform-origin 50%
    transform rotate(-45deg)
    transition all .2s ease-out

  &:after
    transform rotate(45deg)

  &:hover
    &:before,
    &:after
      transform rotate(180deg)

  +mqMax(phone)
    &:before,
    &:after
      width 15px
      top 19px
      right 14px

.vuemastery-promo
  #mobile-bar,
  #mobile-bar.top
    position relative
    background-color #fff
  
  &.docs:not(.vuemastery-menu-fixed)
    padding-top 0
    // #blm,
    #header
      position relative
      width auto
      top 0

    #nav
      position absolute
      top 8px

  &.vuemastery-menu-fixed
    #mobile-bar
      position fixed

    +mqMax(tablet)
      .vuemastery-banner
        margin-bottom 40px

  +mqMin(tablet)
    &.docs:not(.vuemastery-menu-fixed)
      #main.fix-sidebar .sidebar
        position absolute
        top 141px
      
      #sidebar-sponsors-platinum-right
        position absolute
        top 170px
    
    &.docs.vuemastery-menu-fixed
      .vuemastery-banner
        margin-bottom 0

.vuemastery-planet
  position absolute
  z-index 2
  width 100%
  height 100%
  transform-origin bottom right
  transition animIn

  +mqMax(phone)
    transform translateX(70px)

  &:after,
  &:before
    content ''
    position absolute
    pointer-events none
    bottom 0
    width 100%
    top 0
    right 0
    background-image url(../images/planet.svg)
    background-attachment fixed
    background-size auto 80px
    background-position top right -25px
    background-repeat no-repeat

    +mqMax(phone)
      background-size auto 40px

  &:after
    background-image url(../images/flares.svg)
    height 1500%
    background-size 500px auto
    transform translateY(-133px) translateX(70px) rotate(0deg)
    transition all cubic-bezier(0.34, 0.06, 0.01, 1) 3s
    transform-origin center bottom

    +mqMax(phone)
      background-size 480px auto

@media print
  .vuemastery-banner
    display none