@import "_settings"

#demo
    border 1px solid #eee
    box-shadow 0 2px 6px rgba(0,0,0,.1)
    border-radius $radius
    padding 25px 35px
    margin-left .8em
    margin-bottom 40px
    h1
        margin 0 0 .5em
        font-size 2em
    ul
        padding-left 1.5em
        font-size 1.2em
        line-height 1.5em
        margin 0
        li
            cursor pointer
            color $medium
            -ms-user-select none
            -moz-user-select none
            -webkit-user-select none
            &.done
                color $light
                text-decoration line-through