@import "_common"

#nav
    list-style-type none
    text-align center
    margin 3em 0
    padding 0
    li
        display inline-block

.nav-link
    color $light
    padding-bottom 3px
    margin 0 1em
    &:hover, &.current
        border-bottom 3px solid $green

#logo
    display block
    margin 0 auto
    width 200px

#hero
    margin 4em 0 2.5em
    text-align center
    h1
        font-size 3em
        margin .5em 0 0
    .sub
        color $light
        font-size 1.2em
        margin-bottom 2em
    .warning
        color $light
    a.button
        width 180px

a.button
    display inline-block
    margin .5em
    font-size 1.25em
    color #fff !important
    font-weight 400 !important
    background-color $green
    padding .5em 1.5em
    border-radius 4px
    text-shadow 0 1px 1px rgba(0,0,0,.2)
    border-bottom 1px solid darken($green, 12%)
    transition background-color .2s ease-out
    &:hover
        background-color lighten($green, 10%)

#features
    width 800px
    margin 0 auto
    text-align center
    .feat
        box-sizing border-box
        -moz-box-sizing border-box
        display inline-block
        vertical-align top
        width 200px
        margin .5em 2em
        p
            color $light

#features
    a
        color $green
        font-weight 600

#learn-more
    text-align center
    margin 3em 0
    a.button
        font-size 1.2em

.icon
    display inline-block
    width 80px
    height 80px
    background url(../images/icons.png)
    background-size 400px 80px
    &.fast
        background-position -80px 0
    &.compact
        background-position -160px 0
    &.powerful
        background-position -240px 0
    &.composable
        background-position -320px 0

.divider
    font-size 1.5em
    font-weight bold
    max-width 800px
    margin 4em auto 1.5em
    text-align center
    border-top 1px solid $border
    span
        display inline-block
        padding 0 1em
        position relative
        background-color #fff
        top -.75em

.desc
    max-width 800px
    padding 0 40px
    text-align center
    margin 2em auto
    color $light

#main
    display none

@media screen and (max-width: 420px)
    body
        font-size 14px
    #nav
        margin 2em 0
    #logo
        width 100px
    .nav-link
        font-size .85em
        margin 0 .5em
    .divider
        font-size 1.2em
        margin 2.5em 1em
    #hero
        margin 2em 1em 5em
        h1
            font-size 2em
        a.button
            font-size 1em
            margin .5em 0
        .sub
            font-size 1em
        .warning
            font-size .8em

@media screen and (max-width: 860px)
    #features, #hero
        font-size 16px
        width auto