@import "_common"

#hero
    margin 5em 2em
    text-align center
    a.button
        width 180px

h1
    font-size 3em

a.button
    display inline-block
    margin .5em
    font-size 1.5em
    color #fff !important
    font-weight 400 !important
    background-color $green
    padding .5em 1.5em
    border-radius 4px
    text-shadow 0 1px 1px rgba(0,0,0,.2)
    border-bottom 1px solid darken($green, 12%)
    transition background-color .2s ease-out
    &:hover
        background-color lighten($green, 10%)

#features
    width 800px
    margin 0 auto
    text-align center
    .feat
        box-sizing border-box
        -moz-box-sizing border-box
        display inline-block
        vertical-align top
        width 200px
        margin 15px 30px
        p
            color $light

#main
    max-width 720px
    width 80%
    margin 5em auto 3em

#features, #main
    a
        color $green
        font-weight 600

#learn-more
    text-align center
    margin-top 3em
    a.button
        font-size 1.2em

.icon
    display inline-block
    width 80px
    height 80px
    background url(../images/icons.png)
    background-size 400px 80px
    &.fast
        background-position -80px 0
    &.compact
        background-position -160px 0
    &.powerful
        background-position -240px 0
    &.composable
        background-position -320px 0

@media screen and (max-width: 860px)
    #features, #hero
        font-size 16px
        width auto