@import "_common"

zoom()
    -webkit-transform scale(1.05)
    -moz-transform scale(1.05)
    -ms-transform scale(1.05)
    transform scale(1.05)

html, body
    height 100%

#nav
    list-style-type none
    text-align center
    margin-bottom 3em
    padding 0
    li
        display inline-block

.nav-link
    color $light
    padding-bottom 3px
    margin 0 1em
    &:hover, &.current
        border-bottom 3px solid $green
        zoom()

#logo
    display block
    margin 0 auto
    width 200px

#hero
    text-align center
    height 100%
    min-height 800px
    position relative
    .inner
        height 640px
        width 100%
        position absolute
        top 50%
        margin-top -360px
        left 0
    h1
        font-size 3em
        margin .5em 0 0
    .sub
        color $medium
        font-size 1.2em
    .warning
        color $light
    a.button
        width 180px
    .desc
        max-width 800px
        padding 0 20px
        text-align center
        margin 1.5em auto
        color $light
    .down
        position absolute
        bottom 0
        width 100%
        left 0
        padding 1.5em 0
        img
            width 20px  
    a.button
        display inline-block
        margin .5em
        font-size 1.25em
        color #fff !important
        font-weight 400 !important
        background-color $green
        padding .5em 1.5em
        border-radius 4px
        text-shadow 0 1px 1px rgba(0,0,0,.2)
        border-bottom 1px solid darken($green, 12%)
        transition all .2s ease-out
        &:hover
            background-color lighten($green, 10%)

#social
    text-align center
    list-style-type none
    margin 0
    padding 0
    padding-left 14px
    margin-top 2em
    li
        display inline-block
        margin 0 5px
        iframe
            width 94px !important

#features
    padding 4em 0
    text-align center
    background-color #f3f3f3
    .cool
        font-size 1.8em
        text-align center
        margin-top 1em
        color $light
    .feats
        max-width 1200px
        margin 0 auto
    .feat
        box-sizing border-box
        -moz-box-sizing border-box
        display inline-block
        text-align left
        vertical-align top
        width 280px
        margin 40px
        h2
            color $medium
            line-height 40px
            margin-bottom 0
        p
            color $light
            padding-left 52px
            margin .4em 0
        a
            color $green
            font-weight 600
    .icon
        display inline-block
        vertical-align middle
        position relative
        top -3px
        width 40px
        height 40px
        margin-right 12px
        background url(../images/icons.png)
        background-size 240px 40px
        &.fast
            background-position -40px 0
        &.compact
            background-position -80px 0
        &.powerful
            background-position -120px 0
        &.composable
            background-position -160px 0
        &.module
            background-position -200px 0

#footer
    text-align center
    color #fff
    padding 4em 0
    background-color #7f8c8d
    .avatar
        width 100px
        border-radius 100%
        margin 2.5em 0 1em
    a
        color #fff
        text-decoration underline
        &.start
            font-size 1.2em
            text-decoration none
            text-transform uppercase
            letter-spacing 1px
            border 2px solid #fff
            display inline-block
            padding 8px 16px
            border-radius 4px
            transition all .15s ease
            margin-bottom 2em
            &:hover
                background-color #fff
                color #7f8c8d
                zoom()
    p
        margin .3em 0

#main
    display none

@media screen and (max-width: 420px)
    body
        font-size 14px
    #nav
        margin 2em 0
    #logo
        width 100px
    .nav-link
        font-size .85em
        margin 0 .5em
    .divider
        font-size 1.2em
        margin 2.5em 1em
    #hero
        min-height 600px
        .inner
            height 600px
            margin-top -300px
        h1
            font-size 2em
        a.button
            font-size 1em
            margin .5em 0
        .sub
            font-size 1em
        .warning, .desc
            font-size .9em
            margin 1em 0
            br
                display none
        .down
            display none
    #social
        margin-top 1.5em
    .cool
        margin-top 0
    #features .feat
        font-size 14px
        margin .8em 0
        width 250px

@media screen and (max-width: 860px)
    #features, #hero
        font-size 16px