@import "_common"

.sidebar
    position absolute
    top 0
    left 60px
    padding 2.2em 0 0 0
    width 260px
    margin-right 20px
    h2
        margin-top .2em
    ul
        list-style-type none
        margin 0
        padding 0
    .sidebar-link
        line-height 1.8em
        color $light
        &.current
            font-weight 600
            color $green

.content
    padding 2.2em 0
    max-width 720px
    margin 0 auto
    &.with-sidebar
        margin 0 0 0 280px
    h1
        margin 0 0 1em
    h2
        margin 2em 0 .8em
        padding-bottom .7em
        border-bottom 1px solid $border
    h3
        color $green
        margin 2em 0 .8em
    figure, p, ul
        margin .8em 0 .8em .8em
    p, ul
        line-height 1.6em
    ul
        font-size .9em
        padding-left 1.25em
        color $dark
    a
        color $green
        font-weight 600
    blockquote
        margin 0
        p
            margin-left 0

@media screen and (min-width: 720px)
    #main.fix-sidebar
        .sidebar
            position fixed

@media screen and (max-width: 720px)
    .sidebar
        position static
        width auto
        margin-right 0
        padding-bottom 2em
        border-bottom 1px solid $border
    .content
        &.with-sidebar
            margin-left 0
        figure, p, ul
            margin-left 0