@import "_settings"
@import "_common"

.sidebar
    position fixed
    top 91px
    left 0
    font-size 15px
    padding 40px 60px
    width 25%
    h2
        margin-top 5px
    .sidebar-link
        line-height 1.8em
        color $light
        &.current
            font-weight 600
            color $green

.content
    padding 40px 0
    max-width 720px
    h1
        font-size 2.4em
        margin 0 0 35px
    &.with-sidebar
        margin-left 25%