.gutter pre {
  color: #999;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .class .title {
  color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #42b983;
}
pre .title {
  color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #42b983;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  margin: 0;
}
a {
  text-decoration: none;
  color: #34495e;
}
img {
  border: none;
}
h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
  color: #2c3e50;
}
code,
pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8em;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}
em {
  color: #7f8c8d;
}
p {
  word-spacing: 0.05em;
}
a.button {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  border-bottom: 2px solid #3aa373;
  padding: 12px 14px;
  border-radius: 4px;
}
a.button:hover {
  background-color: #5dc596;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
a.small-button {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  padding: 4px 8px 5px;
  border-radius: 4px;
  width: 140px;
  margin: 0 5px;
}
a.small-button:hover {
  background-color: #5dc596;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.highlight {
  overflow-x: auto;
  position: relative;
  padding: 0;
  background-color: #f8f8f8;
  padding: 0.8em 0.8em 0.4em;
  line-height: 1.1em;
  border-radius: 2px;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  width: 1.5em;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}
.highlight.html .code:after,
.highlight.js .code:after,
.highlight.bash .code:after,
.highlight.css .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
.highlight.html .code:after {
  content: 'HTML';
}
.highlight.js .code:after {
  content: 'JS';
}
.highlight.bash .code:after {
  content: 'Shell';
}
.highlight.css .code:after {
  content: 'CSS';
}
#main {
  position: relative;
  z-index: 1;
  padding: 0 60px 30px;
  overflow-x: hidden;
}
#ad {
  width: 140px;
  position: fixed;
  z-index: 99;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgba(255,255,255,0.65);
  border-radius: 3px;
  font-size: 13px;
}
#ad a {
  color: #7f8c8d;
  font-weight: normal;
}
#ad span {
  display: inline-block;
  margin-bottom: 5px;
}
#ad img {
  width: 125px;
}
#nav .nav-link {
  cursor: pointer;
}
#nav .nav-dropdown-container .nav-link:hover {
  border-bottom: none;
}
#nav .nav-dropdown-container:hover .nav-dropdown {
  display: block;
}
#nav .nav-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  text-align: left;
  border-radius: 4px;
}
#nav .nav-dropdown li {
  line-height: 1.8em;
  margin: 0;
  display: block;
}
#nav .nav-dropdown a {
  color: #7f8c8d;
  font-size: 0.9em;
  display: block;
  padding: 0 30px 0 20px;
}
#nav .nav-dropdown a:hover {
  color: #42b983;
}
#nav .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 6px;
  margin-right: -14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #ccc;
}
#donate {
  height: 24px;
}
#donate .wrapper {
  vertical-align: top;
  height: 20px;
  border: 1px solid #d4d4d4;
  display: inline-block;
  box-sizing: border-box;
  line-height: 16px;
  border-radius: 3px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
  position: relative;
  width: 72px;
}
#donate .wrapper:hover {
  border-color: #ccc;
  background-image: linear-gradient(to bottom, #eee 0, #ddd 100%);
}
#donate .wrapper img {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 5px;
}
#donate .wrapper a {
  font: 700 11px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  position: absolute;
  top: 2px;
  left: 24px;
}
#demo,
.demo {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 25px 35px;
  margin-bottom: 40px;
  font-size: 1.2em;
  line-height: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#demo h1,
.demo h1 {
  margin: 0 0 0.5em;
  font-size: 1.8em;
}
#demo ul,
.demo ul {
  padding-left: 1.5em;
  margin: 0;
}
#demo li,
.demo li {
  cursor: pointer;
  color: #34495e;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#demo li.done,
.demo li.done {
  color: #7f8c8d;
  text-decoration: line-through;
}
ul#demo li,
ul.demo li {
  margin-left: 1.5em;
}
@media screen and (max-width: 720px) {
  #demo,
  .demo {
    margin-left: 0;
  }
}
.content.blog h1 {
  margin: 0 0 0.5em;
}
.content.blog h2 {
  margin: 0.8em 0;
  padding-bottom: 0;
  border-bottom: none;
}
.content.blog h2 a {
  color: #2c3e50;
}
.content.blog h2 a:hover {
  border-bottom: 2px solid #42b983;
}
.content.blog h4 {
  color: #7f8c8d;
  margin: 1.2em 0;
}
.content.blog figure,
.content.blog p {
  margin-left: 0;
}
.content.blog .post {
  padding: 1em 0 2em;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 1400px) and (min-width: 720px) {
  .content.blog.post {
    margin: 0 0 0 280px;
  }
}
.algolia-autocomplete {
  line-height: normal;
}
.aa-dropdown-menu {
  width: 100%;
  border-color: #999;
  font-size: 0.9rem;
}
.sidebar .aa-dropdown-menu {
  min-width: auto;
}
@media (min-width: 768px) {
  .aa-dropdown-menu {
    min-width: 515px;
  }
}
.algolia-docsearch-suggestion {
  border-color: #ddd;
}
.algolia-docsearch-suggestion--content {
  color: #2c3e50;
}
.algolia-docsearch-suggestion--subcategory-column {
  border-color: #ddd;
}
.algolia-docsearch-suggestion--category-header {
  background: #42b983;
}
.algolia-docsearch-footer {
  border-color: #ddd;
}
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
  background: rgba(255,255,255,0.6);
}
.algolia-docsearch-suggestion--highlight {
  color: #2c815b;
}
.aa-cursor .algolia-docsearch-suggestion--content {
  color: #2c3e50;
}
.sponsors-page a,
.sponsors-page img {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}
.sponsors-page a {
  margin: 10px 20px;
}
#header {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  padding: 25px 60px;
  position: relative;
  z-index: 2;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 60px;
  top: 25px;
  height: 40px;
  line-height: 40px;
}
#nav .break {
  display: none;
}
#nav li {
  display: inline-block;
  position: relative;
  margin: 0 0.6em;
  white-space: nowrap;
}
.nav-link {
  padding-bottom: 3px;
}
.nav-link:hover,
.nav-link.current {
  border-bottom: 3px solid #42b983;
}
.search-query {
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 15px 0 30px;
  border: 1px solid #e3e3e3;
  outline: none;
  border-radius: 15px;
  margin-right: 10px;
  transition: border-color 0.2s ease;
  background: #fff url("/images/search.png") 8px 5px no-repeat;
  background-size: 20px;
}
.search-query:focus {
  border-color: #42b983;
}
#logo {
  display: inline-block;
  font-size: 1.5em;
  line-height: 40px;
  color: #2c3e50;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}
#logo img {
  vertical-align: middle;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}
#mobile-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  z-index: 9;
  display: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
}
#mobile-bar .menu-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
  background: url("../images/menu.png") center center no-repeat;
  background-size: 24px;
}
#mobile-bar .logo {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../images/logo.png") center center no-repeat;
  top: 5px;
  left: 50%;
  margin-left: -15px;
  background-size: 30px;
}
.sidebar {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 60px;
  bottom: 0;
  padding: 2.2em 0;
  width: 260px;
  margin-right: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.sidebar h2 {
  margin-top: 0.2em;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.8em;
  padding-left: 1em;
}
.sidebar .version-select {
  vertical-align: middle;
  margin-left: 5px;
}
.sidebar .menu-root {
  padding-left: 0;
}
.sidebar .menu-sub {
  font-size: 0.85em;
}
.sidebar .sidebar-link {
  color: #7f8c8d;
}
.sidebar .sidebar-link.current {
  font-weight: 600;
  color: #42b983;
}
.sidebar .sidebar-link.new:after {
  content: "NEW";
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #42b983;
  line-height: 14px;
  padding: 0 4px;
  border-radius: 3px;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.sidebar .sidebar-link:hover {
  border-bottom: 2px solid #42b983;
}
.sidebar .section-link.active {
  font-weight: bold;
  color: #42b983;
}
.sidebar .main-menu {
  margin-bottom: 20px;
  display: none;
  padding-left: 0;
}
.content {
  padding: 2.2em 0;
  max-width: 600px;
  margin: 0 auto;
}
.content.api ul {
  padding-left: 1.25em;
  line-height: 1.4em;
}
.content.api ul ul,
.content.api ul p {
  margin: 0.6em 0;
}
.content a.button {
  font-size: 0.9em;
  color: #fff;
  margin: 0.2em 0;
  width: 180px;
  text-align: center;
  padding: 12px 24px;
  display: inline-block;
  vertical-align: middle;
}
.content img {
  max-width: 100%;
}
.content span.light {
  color: #7f8c8d;
}
.content span.info {
  font-size: 0.85em;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  margin-left: 20px;
}
.content h1 {
  margin: 0 0 1em;
}
.content h2 {
  margin: 2em 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}
.content h3 {
  margin: 3em 0 1.2em;
  position: relative;
}
.content h3:before {
  content: "#";
  color: #42b983;
  position: absolute;
  left: -0.7em;
  top: -2px;
  font-size: 1.2em;
  font-weight: bold;
}
.content figure,
.content p,
.content ul,
.content ol {
  margin: 1.2em 0;
}
.content p,
.content ul,
.content ol {
  line-height: 1.6em;
}
.content ul,
.content ol {
  padding-left: 1.5em;
}
.content a {
  color: #42b983;
  font-weight: 600;
}
.content blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid #42b983;
}
.content blockquote p {
  font-weight: 600;
  margin-left: 0;
}
.content iframe {
  margin: 1em 0;
}
.content p.tip {
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  border-left: 4px solid #f66;
  background-color: #f8f8f8;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.content p.tip:before {
  position: absolute;
  top: 14px;
  left: -12px;
  background-color: #f66;
  color: #fff;
  content: "!";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}
.guide-links {
  margin-top: 2em;
  height: 1em;
}
.footer {
  color: #7f8c8d;
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #e5e5e5;
  font-size: 0.9em;
}
#main.fix-sidebar .sidebar {
  position: fixed;
}
#donate {
  margin-top: 15px;
}
@media screen and (max-width: 1300px) {
  .content.with-sidebar {
    margin-left: 290px;
  }
  #ad {
    z-index: 8;
    position: relative;
    width: 100%;
    padding: 0;
    bottom: 0;
    right: 0;
    margin: 0 0 15px -6px;
  }
  #ad .carbon-wrap,
  #ad .carbon-img,
  #ad .carbon-text,
  #ad .carbon-poweredby {
    display: inline-block;
    vertical-align: top;
  }
  #ad .carbon-text {
    width: 140px;
    margin-left: 15px;
  }
  #ad .carbon-poweredby {
    position: absolute;
    bottom: 12px;
    left: 140px;
  }
}
@media screen and (max-width: 720px) {
  #ad {
    width: 100%;
  }
  body {
    -webkit-text-size-adjust: none;
    font-size: 14px;
  }
  #header {
    display: none;
  }
  #logo {
    display: none;
  }
  .nav-link {
    padding-bottom: 1px;
  }
  .nav-link:hover,
  .nav-link.current {
    border-bottom: 2px solid #42b983;
  }
  .search-query {
    width: 200px;
    margin-bottom: 10px;
  }
  #mobile-bar {
    display: block;
  }
  #main {
    padding: 2em 1.4em 0;
  }
  .highlight pre {
    padding: 1.2em 1em;
  }
  .sidebar {
    position: fixed;
    background-color: #f9f9f9;
    height: 100%;
    top: 0;
    left: 0;
    padding: 60px 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: translate(-280px, 0);
    transform: translate(-280px, 0);
  }
  .sidebar .main-menu {
    display: block;
  }
  .sidebar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .content.with-sidebar {
    margin-left: 0;
  }
  .footer {
    margin-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  #downloads {
    text-align: center;
    margin-bottom: 25px;
  }
  #downloads .info {
    margin-top: 5px;
    margin-left: 0;
  }
  iframe {
    margin: 0 !important;
  }
}
