.algolia-autocomplete {
  line-height: normal;
}
.aa-dropdown-menu {
  width: 100%;
  border-color: #999;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .aa-dropdown-menu {
    min-width: 515px;
  }
}
.algolia-docsearch-suggestion {
  border-color: #ddd;
}
.algolia-docsearch-suggestion--content {
  color: #2c3e50;
}
.algolia-docsearch-suggestion--subcategory-column {
  border-color: #ddd;
}
.algolia-docsearch-suggestion--category-header {
  background: #42b983;
}
.algolia-docsearch-footer {
  border-color: #ddd;
}
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
  background: rgba(255,255,255,0.6);
}
.algolia-docsearch-suggestion--highlight {
  color: #2c815b;
}
.aa-cursor .algolia-docsearch-suggestion--content {
  color: #2c3e50;
}
