<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="/images/logo.png">
    </div><div class="right">
      <h2 class="vue">Vue.js</h2>
      <h1>
        O Framework Javascript<br>Progressivo
      </h1>
      <p>
        <a class="button" href="/guide/">COMEÇAR</a>
        <a class="button white" href="https://github.com/vuejs/vue" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Acessível</h2>
      <p>Todos conhecem HTML, CSS e JavaScript? Leia o guia e comece a criar aplicações sem perder tempo!</p>
    </div>

    <div class="point">
      <h2>Versátil</h2>
      <p>Simples, núcleo mínimo com uma adaptabilidade incremental em camadas que podem lidar com aplicações em qualquer escala.</p>
    </div>

    <div class="point">
      <h2>Performático</h2>
      <p>
        16kb min+gzip Runtime<br>
        Virtual DOM incrível e rápido<br>
        Mínimo esforço para otimizações
      </p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h3>ORGULHOSAMENTE MANTIDO POR</h3>
    <%- partial('partials/sponsors') %>
    <br>
    <a class="become-sponsor button white" href="/support-vuejs/">Seja um Patrocinador</a>
  </div>
</div>

<div id="footer">
  Distribuído sob a <a href="https://opensource.org/licenses/MIT" href="_blank">Licença MIT</a><br>
  Copyright &copy; 2014-<%- new Date().getFullYear() %> Evan You
</div>

<script src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
<script src="/js/common.js"></script>
<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
