<div id="hero">
    <div class="inner">
        <ul id="nav">
            <li><a href="/guide/" class="nav-link">Guida</a></li>
            <li><a href="/api/" class="nav-link">API Reference</a></li>
            <li><a href="/examples/" class="nav-link">Esempi</a></li>
            <li><a href="/blog/" class="nav-link">Blog</a></li>
            <li><a href="http://vuejs.org" class="nav-link">English</a></li>
            <li><a href="http://jp.vuejs.org" class="nav-link">日本語</a></li>
            <li><a href="http://cn.vuejs.org" class="nav-link">中文</a></li>

        </ul>
        <img id="logo" src="/images/logo.png">
        <h1>Vue.js</h1>
        <p class="desc">Vue.js è una libreria che permette di creare interfacce web moderne.
          <br>Fornisce componenti data-reactive con API semplici e flessibili.</p>
        <p class="buttons">
            <a href="/guide/installation.html" class="button">Installa v<%- theme.vue_version %></a>
            <a href="https://github.com/yyx990803/vue" target="_blank" class="button">Sorgente su GitHub</a>
        </p>
        <ul id="social">
            <li><a href="https://twitter.com/vuejs" class="twitter-follow-button" data-show-count="false" data-dnt="true">Segui @vuejs</a></li>
            <li><iframe src="http://ghbtns.com/github-btn.html?user=yyx990803&repo=vue&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe></li>
            <li class="last"><a href="https://gitter.im/yyx990803/vue" target="_blank"><img src="https://badges.gitter.im/Join%20Chat.svg"></a></li>
        </ul>
    </div>
    <div class="down"><img src="/images/down.png"></div>
</div>

<div id="example">
    <h2>Esempio al volo</h2>
    <div class="block">
        <figure class="highlight lang-html"><table><tbody><tr><td class="gutter"><pre>1
2
3
4
</pre></td><td class="code"><pre><span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"demo"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>{{message}}<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">v-model</span>=<span class="value">"message"</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
</pre></td></tr></tbody></table></figure>
    </div>

    <div class="sign">+</div>

    <div class="block">
        <figure class="highlight lang-js"><table><tbody><tr><td class="gutter"><pre>1
2
3
4
5
6
</pre></td><td class="code"><pre><span class="keyword">var</span> demo = <span class="keyword">new</span> Vue({
    el: <span class="string">'#demo'</span>,
    data: {
        message: <span class="string">'Hello Vue.js!'</span>
    }
})
</pre></td></tr></tbody></table></figure>
    </div>

    <div class="sign">=</div>

    <div class="block result">
        <div id="demo">
            <p>{{message}}</p>
            <input v-model="message">
        </div>
        <script>
        var demo = new Vue({
            el: '#demo',
            data: {
                message: 'Hello Vue.js!'
            }
        })
        </script>
    </div>
</div>
<div id="features">
    <div class="feats">
        <div class="feat">
            <h2><span class="icon simple"></span>Semplice</h2>
            <p>Scrivi l'HTML, ricevi un JSON e crea un'instanza di Vue. È semplicissimo.</p>
        </div>
        <div class="feat">
            <h2><span class="icon powerful"></span>Reattivo</h2>
            <p>Expressions & computed properties with transparent dependency tracking.</p>
        </div>
        <div class="feat">
            <h2><span class="icon composable"></span>Componenti</h2>
            <p>Crea la tua applicazione utilizzando i componenti come meglio credi</p>
        </div>
        <div class="feat">
            <h2><span class="icon compact"></span>Leggero</h2>
            <p>Vue pesa circa 22kb min+gzip e non dovrai installare nessuna dipendenza.</p>
        </div>
        <div class="feat">
            <h2><span class="icon fast"></span>Veloce</h2>
            <p>Precise and efficient async batch DOM updates.</p>
        </div>
        <div class="feat">
            <h2><span class="icon module"></span>Pacchetti</h2>
            <p>Installabile via NPM, Bower e Duo</p>
        </div>
    </div>
</div>
<div id="why">
    <h2>Perchè dovrei provarlo?</h2>
    <ul>
        <li>Extendable Data bindings</li>
        <li>Plain JS object models</li>
        <li>API that simply makes sense</li>
        <li>Build UI by composing components</li>
        <li>Mix &amp; matching small libraries</li>
    </ul>
</div>
<div id="footer">
    <a class="start" href="/guide/index.html">Inizia subito</a>
    <p>Rilasciato sotto la <a href="http://opensource.org/licenses/MIT" target="_blank">licenza MIT</a></p>
    <p>Copyright (c) <%- date(Date.now(), 'YYYY') %> <a href="http://evanyou.me" target="_blank">Evan You</a></p>
</div>

<!-- Twitter follow button script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
