<script>
    // G+ button
    ;(function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<div id="hero">
    <div class="inner">
        <ul id="nav">
            <li><a href="/guide/" class="nav-link">ガイド</a></li>
            <li><a href="/api/" class="nav-link">API リファレンス</a></li>
            <li><a href="/examples/" class="nav-link">例</a></li>
            <li><a href="/blog/" class="nav-link">ブログ(英語)</a></li>
        </ul>
        <img id="logo" src="/images/logo.png">
        <h1>Vue.js</h1>
        <p class="sub">よくわかる MVVM</p>
        <p class="desc">Vue.js はインタラクティブな Web インターフェースを構築するためのライブラリです。<br>シンプルで柔軟性の高い API でデータリアクティブなコンポーネントを提供します。</p>
        <p class="buttons">
            <a href="/guide/installation.html" class="button">Vue.js v<%- theme.vue_version %> を入手</a>
            <a href="https://github.com/yyx990803/vue" target="_blank" class="button">GitHub のソース</a>
        </p>
        <ul id="social">
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://vuejs.org" data-text="Vue.js - MVVM made simple" data-via="vuejs">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
            <li><iframe src="http://ghbtns.com/github-btn.html?user=yyx990803&repo=vue&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe></li>
            <li><g:plusone href="http://vuejs.org" size="medium"></g:plusone></li>
        </ul>
    </div>
    <div class="down"><img src="/images/down.png"></div>
</div>

<div id="example">
    <h2>10 Second Example</h2>
    <div class="block">
        <figure class="highlight lang-html"><table><tbody><tr><td class="gutter"><pre>1
2
3
4
</pre></td><td class="code"><pre><span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"demo"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>{{message}}<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">v-model</span>=<span class="value">"message"</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
</pre></td></tr></tbody></table></figure>
    </div>

    <div class="sign">+</div>

    <div class="block">
        <figure class="highlight lang-js"><table><tbody><tr><td class="gutter"><pre>1
2
3
4
5
6
</pre></td><td class="code"><pre><span class="keyword">var</span> demo = <span class="keyword">new</span> Vue({
    el: <span class="string">'#demo'</span>,
    data: {
        message: <span class="string">'Hello Vue.js!'</span>
    }
})
</pre></td></tr></tbody></table></figure>
    </div>

    <div class="sign">=</div>

    <div class="block result">
        <div id="demo">
            <p>{{message}}</p>
            <input v-model="message">
        </div>
        <script>
        var demo = new Vue({
            el: '#demo',
            data: {
                message: 'Hello Vue.js!'
            }
        })
        </script>
    </div>
</div>
<div id="features">
    <div class="feats">
        <div class="feat">
            <h2><span class="icon simple"></span>シンプル</h2>
            <p>いくつか HTML を書いて、いくつか JSON を持ってきて、Vue インスタンスを作って、それでおしまいです。</p>
        </div>
        <div class="feat">
            <h2><span class="icon fast"></span>速い</h2>
            <p>精密で効率のよい非同期バッチで DOM を更新します。</p>
        </div>
        <div class="feat">
            <h2><span class="icon composable"></span>構成可能</h2>
            <p>分離された、再利用可能なコンポーネントであなたのアプリケーションを構成します。</p>
        </div>
        <div class="feat">
            <h2><span class="icon compact"></span>コンパクト</h2>
            <p>min+gzip で18キロバイト〜、依存はありません。</p>
        </div>
        <div class="feat">
            <h2><span class="icon powerful"></span>パワフル</h2>
            <p>式 (Expressions) と透過依存性トラッキングによる computed properties 。</p>
        </div>
        <div class="feat">
            <h2><span class="icon module"></span>モジュールフレンドリー</h2>
            <p>NPM 、Bower または、Duo 経由でインストールします。あなたのお気に入りのエコシステムを利用できます！</p>
        </div>
    </div>
</div>
<div id="why">
    <h2>もし以下の項目が好きなら試してみましょう!</h2>
    <ul>
        <li>拡張可能なデータバインディング</li>
        <li>純粋な Javascript オブジェクトモデル</li>
        <li>理に適ったシンプルな API</li>
        <li>コンポーネントで UI をビルド</li>
        <li>小さいライブラリとマッチしてミックスできる</li>
    </ul>
</div>
<div id="footer">
    <a class="start" href="/guide/index.html">はじめる</a>
    <p>Released under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a></p>
    <p>Copyright (c) <%- date(Date.now(), 'YYYY') %> <a href="http://evanyou.me" target="_blank">Evan You</a></p>
</div>
