<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- page.title ? page.title + ' - ' : '' %>Vue.js</title>
        <meta charset="utf-8">
    </head>
    <body>
        <%- partial('partials/header') %>
        <%- body %>
    </body>
</html>