<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } %>
<div class="content<%- page.type ? ' with-sidebar' : '' %>">
    <%- page.content %>
</div>