<div id="ad" style="width:140px">
    <a href="https://strikingly.com/s/careers?utm_source=v" target="_blank">
        <span>Proudly sponsored by</span><br>
    <img src="/images/strikingly.png">
  </a>
</div>
