<% if (!page.sponsors && !page.partners) { %>
<div id="ad">
  <script
    async
    type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?serve=CEBDT27Y&placement=vuejsorg"
    id="_carbonads_js">
  </script>
</div>
<% } %>
