<div id="ad">
  <span>Proudly sponsored by</span><br>
  <a href="https://strikingly.com/s/careers?utm_source=v" target="_blank">
    <img src="/images/strikingly.png">
  </a>
  <% if (page.path === 'index.html') { %>
    <a href="http://itunescn.com" target="_blank">
      <img src="/images/itunescn.png">
    </a>
  <% } %>
</div>
