<div id="ad">
  <script>
    (function () {
      var s = document.createElement('script')
      s.setAttribute('async', '')
      s.src = '//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=vuejs'
      s.id = '_carbonads_js'
      document.getElementById('ad').appendChild(s)
    })()
  </script>
</div>
