<div id="ad">
  <script>
    (function () {
      var showConfPromo = Math.random() <= 0.33
      if (showConfPromo) {
        var c = document.createElement('div')
        c.id = 'conf-promo'
        c.innerHTML = '<a href="https://conf.vuejs.org" target="_blank">' +
          '<img src="/images/conf.png" alt="vueconf">' +
          '<span>The first VueConf EU is being held in Wrocław, Poland, June 21-23!</span>'
        '</a>'
        document.getElementById('ad').appendChild(c)
      } else {
        var s = document.createElement('script')
        s.setAttribute('async', '')
        s.src = '//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=vuejs'
        s.id = '_carbonads_js'
        document.getElementById('ad').appendChild(s)
      }
    })()
  </script>
</div>
