<div id="ad">
  <span>Proudly sponsored by</span>
  <br>
  <a href="https://strikingly.com/s/careers?utm_source=v" target="_blank"
    style="display:inline-block;padding-top:8px">
    <img src="/images/strikingly.png">
  </a>
  <% if (page.path === 'index.html') { %>
    <br>
    <a href="https://jsfiddle.net/" target="_blank">
      <img src="/images/jsfiddle.png">
    </a>
    <br>
    <a href="https://laravel.com/" target="_blank">
      <img src="/images/laravel.png">
    </a>
    <br>
    <a href="https://chaitin.cn" target="_blank">
      <img src="/images/chaitin.png">
    </a>
  <% } %>
</div>
