<div id="conf-promo">
  <a href="https://conf.vuejs.org">
    <img src="/images/conf.png" alt="vueconf">
    <p>Konferensi pertama VueConf EU akan diadakan di  Wrocław, Polandia, pada tanggal 21-23 bulan Juni.</p>    
  </a>
</div>
