<div id="conf-promo">
  <a href="https://conf.vuejs.org">
    <img src="/images/conf.png" alt="vueconf">
    <p>Avrupa'daki ilk Vue Konferansı 'VueConf', 21-23 Haziran'da Wrocław Polanya'da!</p>
  </a>
</div>
