<div id="conf-promo">
  <a href="https://conf.vuejs.org">
    <img src="/images/conf.png" alt="vueconf">
    <p>A primeira VueConf Europa está sendo realizada em Wrocław, Polônia, de 21-23 de junho!</p>
  </a>
</div>
