<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">생태계</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>도움</h4></li>
    <li><ul>
      <li><a href="http://forum.vuejs.org" class="nav-link" target="_blank">포럼</a></li>
      <li><a href="https://gitter.im/vuejs/vue" class="nav-link" target="_blank">채팅</a></li>
    </ul></li>
    <li><h4>도구</h4></li>
    <li>
      <ul>
        <li><a href="https://github.com/vuejs/vue-devtools" class="nav-link" target="_blank">개발도구</a></li>
        <li><a href="https://vuejs-templates.github.io/webpack" class="nav-link" target="_blank">웹팩 템플릿</a></li>
        <li><a href="https://vue-loader.vuejs.org" class="nav-link" target="_blank">Vue Loader</a></li>
      </ul>
    </li>
    <li><h4>코어 라이브러리</h4></li>
    <li><ul>
      <li><a href="https://router.vuejs.org/" class="nav-link" target="_blank">Vue 라우터</a></li>
      <li><a href="https://vuex.vuejs.org/" class="nav-link" target="_blank">Vuex</a></li>
      <li><a href="https://ssr.vuejs.org/" class="nav-link" target="_blank">Vue 서버 렌더러</a></li>
    </ul></li>
    <li><h4>뉴스</h4></li>
    <li><ul>
      <li><a href="https://news.vuejs.org" class="nav-link" target="_blank">주간 뉴스</a></li>
      <li><a href="https://github.com/vuejs/roadmap" class="nav-link" target="_blank">로드맵</a></li>
      <li><a href="https://twitter.com/vuejs" class="nav-link" target="_blank">트위터</a></li>
      <li><a href="https://medium.com/the-vue-point" class="nav-link" target="_blank">블로그</a></li>
      <li><a href="https://vuejobs.com/?ref=vuejs" class="nav-link" target="_blank">구인</a></li>
    </ul></li>
    <li><h4>리소스</h4></li>
    <li><ul>
      <li><a href="https://github.com/vuejs" class="nav-link" target="_blank">공식 저장소</a></li>
      <li><a href="https://curated.vuejs.org/" class="nav-link" target="_blank">큐레이션</a></li>
      <li><a href="https://github.com/vuejs/awesome-vue" class="nav-link" target="_blank">쩌는 Vue</a></li>
    </ul></li>
  </ul>
</li>
