<li class="nav-dropdown-container">
  <a class="nav-link">Ecosystem</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://vuex.vuejs.org/en/" class="nav-link" target="_blank">Vuex</a></li>
    <li><a href="https://router.vuejs.org/en/" class="nav-link" target="_blank">Vue Router</a></li>
  </ul>
</li>
