<div>
  <div id="v3-banner">
    <span class="hidden-sm">Vue 2 has reached EOL and is no longer actively maintained.</span>
    <a href="https://vuejs.org/">Upgrade to Vue 3</a>
    <span class="hidden-sm"> or learn more about</span>
    <span class="only-sm"> | </span>
    <a href="/eol/">Vue 2 EOL</a><span class="hidden-sm">.</span>
  </div>

  <header id="header">
    <a id="logo" href="<%- url_for("/") %>">
      <img src="<%- url_for("/images/logo.svg") %>" alt="Vue logo">
      <span>Vue.js</span>
    </a>
    <ul id="nav">
      <%- partial('partials/main_menu', { context: 'nav' }) %>
    </ul>
  </header>
</div>
