<div id="header">
  <a id="logo" href="<%- url_for("/") %>">
    <img src="<%- url_for("/images/logo.png") %>">
    <span>Vue.js</span>
  </a>
  <span style="overflow: hidden; display: inline-block; position: relative; top: 10px; left: 6px; font-size: 12px;">
    2018.03.20 与 vuejs.org  同步<br>相关说明请点击<a target="_blank" href="https://github.com/docschina/vuejs.org/blob/cn/UPDATE.md" style="color: dodgerblue">这里</a>
  </span>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
