<div>
  <% if (hasBtsBanner) { %>
  <a id="bts" class="bts-hidden" href="https://vueschool.io/sales/back-to-school?friend=vuejs" target="_blank" rel="noreferrer">
    <div class="bts-logo">
      <img src="/images/banners/bts-logo.svg">
    </div>
    <div class="bts-main">
      <div class="bts-backpack">
        <img src="/images/banners/bts-backpack.svg">
      </div>
      <div class="bts-slogan">
        <div class="bts-title">
          Less than <span class="bts-title-green">48 hours</span> left for the Vue School offer
        </div>
      </div>
      <div>
        <div class="bts-button">GET ACCESS</div>
      </div>
    </div>
    <div id="bts-close" class="bts-close">
      &times;
    </div>
  </a>
  <% } %>

  <header id="header">
    <a id="logo" href="<%- url_for("/") %>">
      <img src="<%- url_for("/images/logo.png") %>" alt="vue logo">
      <span>Vue.js</span>
    </a>
    <ul id="nav">
      <%- partial('partials/main_menu', { context: 'nav' }) %>
    </ul>
  </header>
</div>
