<div>
  <div id="v3-banner">
    <span class="hidden-sm">Siz v2.x və ya daha əvvəlki dokumentasiyada səyahət edirsiniz. </span>
      v3.x dokumentasiyası üçün <a href="https://v3.vuejs.org/">Keçid edin</a>
     </div>

  <header id="header">
    <a id="logo" href="<%- url_for("/") %>">
      <img src="<%- url_for("/images/logo.png") %>" alt="vue logo">
      <span>Vue.js</span>
    </a>
    <ul id="nav">
      <%- partial('partials/main_menu', { context: 'nav' }) %>
    </ul>
  </header>
</div>
