<div id="header">
  <a id="logo" href="<%- url_for("/") %>">
    <img src="<%- url_for("/images/logo.png") %>">
    <span>Vue.js <span style="font-size: 12px;">(2017.03.18 更新,添加YDUI链接，合并vuejs.org更新!)</span></span>
  </a>
<a style="
    position: absolute;
    top: 100%;
    left: 60px;
    padding: 0 10px;
    background: #41b883;
    border-radius: 3px;
    margin-top: -10px;
    line-height: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  " target="_blank" 
  href="//shang.qq.com/wpa/qunwpa?idkey=eb5e122e29907f770407a4a7083cbaded67d402a77c5b7be8e201ff5b6bb498b">  点击加入vue技术栈4群318118563
</a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
