<div>
  <% if (page.path === 'index.html') { %>
    <div id="blm">
      <span id="blm-hashtag">#B<span>lack</span>L<span>ives</span>M<span>atter</span></span>
      <a href="https://support.eji.org/give/153413/#!/donation/checkout" target="_blank" rel="noreferrer" id="blm-link">Support the Equal Justice Initiative.</a>
    </div>
  <% } %>

  <header id="header">
    <a id="logo" href="<%- url_for("/") %>">
      <img src="<%- url_for("/images/logo.png") %>" alt="vue logo">
      <span>Vue.js</span>
    </a>
    <ul id="nav">
      <%- partial('partials/main_menu', { context: 'nav' }) %>
    </ul>
  </header>
</div>
