<div id="header">
  <a id="logo" href="/">
    <img src="/images/logo.png">
    <span>Vue.js <span style="font-size: 12px;">(2017.01.16更新)</span></span>
  </a>
<a style="
    position: absolute;
    top: 100%;
    left: 60px;
    padding: 0 10px;
    background: #41b883;
    border-radius: 3px;
    margin-top: -10px;
    line-height: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  " target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=8e6ce7dbf4c1476843145ff08fdf8a82882195a3bd94ef7894a608c15a2c71ce">  点击加入QQ群543234934 
</a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
