<div id="header">
  <a id="logo" href="<%- url_for("/") %>">
    <img src="<%- url_for("/images/logo.png") %>">
    <span>Vue.js</span>
  </a>
  <span style="font-size: 12px;">(2017.12.31 与 vuejs.org  同步，同步相关说明请点击<a target="_blank" href="https://github.com/docschina/vuejs.org/blob/cn/UPDATE.md" style="color: dodgerblue">这里</a>)</span>
  <a style="position: absolute;
    top: 100%;
    left: 178px;
    padding: 0 10px;
    background: #41b883;
    border-radius: 3px;
    margin-top: -18px;
    line-height: 18px;
    color: white;
    font-size: 12px;" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=22de3f3b4d9c2a857b44c7000dac2d05856d2a62ac8ee45febd61f5973af5ef7">点击加入 Vue.js 技术栈 8 群，QQ 群号：302093657)</a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
