<div id="hero">
    <h1>Under Construction</h1>
    <p>Vue.js is still under development so the API might change.</p>
</div>
<div id="features">
    <div class="feat">
        <h2>Simple</h2>
        <p>Write some HTML, grab some JSON, create a ViewModel, there you go.</p>
    </div>
    <div class="feat">
        <h2>Fast</h2>
        <p>Async batch DOM updates. No dirty checking.<br>See the <a href="/perf.html">benchmark comparisons</a>.</p>
    </div>
    <div class="feat">
        <h2>Compact</h2>
        <p>&lt; 11kb minified and gzipped, no dependency.</p>
    </div>
    <div class="feat">
        <h2>Powerful</h2>
        <p>Automatic dependency tracking.<br>Custom Directives and Filters.<br>Easy CSS Transitions.</p>
    </div>
    <div class="feat">
        <h2>Composable</h2>
        <p>Nestable ViewModels with inheritable data, flexible event system and encapsulated assets.</p>
    </div>
    <div class="feat">
        <h2>Module Friendly</h2>
        <p>Component, Browserify, Bower or RequireJS, all ready to go. See Installation.</p>
    </div>
</div>