<div id="hero">
    <h1>Under Construction</h1>
    <p>Vue.js is still under development so the API might change.</p>
    <p>
        <a href="/guide/#page-h1" class="button">Get Vue.js v0.7.3</a>
        <a href="https://github.com/yyx990803/vue" target="_blank" class="button">Source on GitHub</a>
    </p>
</div>
<div id="features">
    <div class="feat">
        <h2>Simple</h2>
        <p>Write some HTML, grab some JSON, create a ViewModel, that's it.</p>
    </div>
    <div class="feat">
        <h2>Fast</h2>
        <p>Precise async batch DOM updates. Check out the <a href="/perf/">benchmark</a>.</p>
    </div>
    <div class="feat">
        <h2>Compact</h2>
        <p>10.7kb minified and gzipped, no dependency.</p>
    </div>
    <div class="feat">
        <h2>Powerful</h2>
        <p>Expressions and Computed Properties with auto dependency tracking, integrated CSS transitions and more.</p>
    </div>
    <div class="feat">
        <h2>Composable</h2>
        <p>Nestable ViewModels with inheritable data, event system and encapsulated assets.</p>
    </div>
    <div class="feat">
        <h2>Module Friendly</h2>
        <p>Component, Browserify or Bower, all ready to go. Leverage your favorite eco system.</p>
    </div>
</div>