<div id="hero">
    <ul id="nav">
        <li><a href="/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Guide</a></li>
        <li><a href="/api/" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API Reference</a></li>
        <li><a href="/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a></li>
        <li><a href="https://github.com/yyx990803/vue" target="_blank" class="nav-link">GitHub</a></li>
    </ul>
    <img id="logo" src="/images/logo.png">
    <h1>Vue.js</h1>
    <p class="sub">Simple, Fast and Composable MVVM</p>
    <p>
        <a href="/guide/#Installation" class="button">Get Vue.js v0.7.5</a>
        <a href="https://github.com/yyx990803/vue" target="_blank" class="button">Source on GitHub</a>
    </p>
    <p class="warning">Vue.js is still under development so the API might change.</p>
</div>
<p class="divider"><span>What's Cool</span></p>
<div id="features">
    <div class="feat">
        <h2>Simple</h2>
        <p><span class="icon simple"></span></p>
        <p>Write some HTML, grab some JSON, create a ViewModel, that's it.</p>
    </div>
    <div class="feat">
        <h2>Fast</h2>
        <p><span class="icon fast"></span></p>
        <p>Precise async batch DOM updates. Check out the <a href="/perf/">benchmarks</a>.</p>
    </div>
    <div class="feat">
        <h2>Composable</h2>
        <p><span class="icon composable"></span></p>
        <p>Nestable ViewModels with inheritable data and solid event system.</p>
    </div>
    <div class="feat">
        <h2>Compact</h2>
        <p><span class="icon compact"></span></p>
        <p>10.7kb minified and gzipped, no dependency.</p>
    </div>
    <div class="feat">
        <h2>Powerful</h2>
        <p><span class="icon powerful"></span></p>
        <p>Expressions and Computed Properties with auto dependency tracking and more.</p>
    </div>
    <div class="feat">
        <h2>Module Friendly</h2>
        <p><img src="/images/modules.png" style="height:80px"></p>
        <p>Component, Browserify or Bower - leverage your favorite eco system!</p>
    </div>
</div>
<p class="divider"><span>A Quick Example</span></p>