<li class="nav-dropdown-container language">
  <a class="nav-link">Language</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="http://jp.vuejs.org/" class="nav-link" target="_blank">日本語</a></li>
  </ul>
</li>
