<li class="nav-dropdown-container resources">
  <a href="#" class="nav-link">Ресурси</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/resources/partners.html") %>" class="nav-link">Партнери</a></li>
    <li><a href="<%- url_for("/resources/themes.html") %>" class="nav-link">Теми</a></li>
    <li><a href="https://github.com/vuejs/awesome-vue" class="nav-link" target="_blank" rel="noopener">Awesome Vue</a></li>
  </ul>
</li>
