<li class="nav-dropdown-container resources">
  <a href="#" class="nav-link">리소스</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/resources/partners.html") %>" class="nav-link">파트너</a></li>
    <li><a href="<%- url_for("/resources/themes.html") %>" class="nav-link">테마</a></li>
    <li><a href="https://github.com/vuejs/awesome-vue" class="nav-link" target="_blank" rel="noopener">쩌는 Vue</a></li>
  </ul>
</li>
