<div class="sidebar">
    <div class="toggle">···</div>
    <div class="list">
        <h2><%- type.charAt(0).toUpperCase() + type.slice(1) %></h2>
        <ul>
        <% site.pages.find({type: type}).sort('order').each(function (p) { %>
            <li><a href="/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %>"><%- p.title %></a></li>
        <% }) %>
        <li style="margin:10px 0 3px">
          <script data-gittip-username="yyx990803"
            data-gittip-widget="button"
            src="//gttp.co/v1.js"></script>
        </li>
        </ul>
    </div>
    <div class="ad">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- vue -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:200px;height:200px"
             data-ad-client="ca-pub-5859894589064951"
             data-ad-slot="1367174238"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>