<span>Proudly sponsored by</span>
<br>
<a href="https://strikingly.com/s/careers?utm_source=v" target="_blank" style="top:3px">
  <img src="/images/strikingly.png">
</a>
<a href="https://itunescn.com/" target="_blank" style="top:2px">
  <img src="/images/itunescn.png">
</a>
<a href="https://jsfiddle.net/" target="_blank">
  <img src="/images/jsfiddle.png">
</a>
<a href="https://laravel.com/" target="_blank">
  <img src="/images/laravel.png">
</a>
<a href="https://chaitin.cn" target="_blank" style="top:-1px">
  <img src="/images/chaitin.png">
</a>
<a href="https://htmlburger.com" target="_blank">
  <img src="/images/htmlburger.png">
</a>
<a href="https://starter.someline.com/" target="_blank" style="top:-2px">
  <img src="/images/someline.png">
</a>
<a href="http://gold.xitu.io/?utm_source=vuejs&utm_medium=image&utm_content=juejin&utm_campaign=q3_website" target="_blank" style="width:75px">
  <img src="/images/juejin.png" style="width:75px">
</a>
