<div id="sidebar-sponsors-special">
  <div class="main-sponsor">
    <span>Sponsor Spesial</span>
    <div>
    <%_ for (const sponsor of theme.special_sponsors) {_%>
    <a href="<%- sponsor.url %>" target="_blank" class="logo">
      <img src="<%- url_for(`/images/${sponsor.wide_img || sponsor.img}`) %>" alt="<%-sponsor.name-%>">
    </a>
    <%_ } _%>
    </div>
  </div>
</div>

<%- partial('partials/platinum_sponsors', { context: 'left' }) %>
