<li class="nav-dropdown-container support-vue">
  <a class="nav-link">Soutien</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="/support-vuejs/#One-time-Donations" class="nav-link">Don ponctuel</a></li>
      <li><a href="/support-vuejs/#Recurring-Pledges" target="_blank" class="nav-link">Soutien récurrent</a></li>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">La boutique</a></li>
    </ul></li>
  </ul>
</li>
