<li class="nav-dropdown-container support-vue">
  <a href="/support-vuejs/" class="nav-link">Hỗ trợ Vue</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="/support-vuejs/#One-time-Donations" class="nav-link">Đóng góp một lần</a></li>
      <li><a href="/support-vuejs/#Recurring-Pledges" class="nav-link">Đóng góp thường xuyên</a></li>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">Mua áo thun</a></li>
    </ul></li>
  </ul>
</li>
