<li class="nav-dropdown-container support-vue">
  <a class="nav-link">支持 Vue</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">商店</a></li>
      <li><a href="https://opencollective.com/vuejs" target="_blank" class="nav-link">在 OpenCollective 支持我们</a></li>
      <li><a href="https://www.patreon.com/evanyou" target="_blank" class="nav-link">在 Patreon 支持尤雨溪(Evan)</a></li>
    </ul></li>
  </ul>
</li>
