<li class="nav-dropdown-container support-vue">
  <a class="nav-link">Vue 지원</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">샵</a></li>
      <li><a href="https://opencollective.com/vuejs" target="_blank" class="nav-link">OpenCollective 후원</a></li>
      <li><a href="https://www.patreon.com/evanyou" target="_blank" class="nav-link">Patreon에서 Evan 후원</a></li>
    </ul></li>
  </ul>
</li>
