<ul class="menu-root">
  <% ['api', 'style-guide'].indexOf(type) === -1 && site.pages.find({type: type}).sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
    <% if (type === 'guide') { %>
      <% if (fileName === 'installation') { %>
        <li><h3>Esensial</h3></li>
      <% } %>
      <% if (fileName === 'components-registration') { %>
        <li><h3>Komponen secara mendalam</h3></li>
      <% } %>
      <% if (fileName === 'transitions') { %>
        <li><h3>Transisi & Animasi</h3></li>
      <% } %>
      <% if (fileName === 'mixins') { %>
        <li><h3>Kebergunaan & Komposisi</h3></li>
      <% } %>
      <% if (fileName === 'single-file-components') { %>
        <li><h3>Peralatan</h3></li>
      <% } %>
      <% if (fileName === 'routing') { %>
        <li><h3>Peningkatan</h3></li>
      <% } %>
      <% if (fileName === 'reactivity') { %>
        <li><h3>Internal</h3></li>
      <% } %>
      <% if (fileName === 'migration') { %>
        <li><h3>Migrasi</h3></li>
      <% } %>
      <% if (fileName === 'comparison') { %>
        <li><h3>Meta</h3></li>
      <% } %>
    <% } %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
    </li>
  <% }) %>
</ul>
