<div id="vm-banner" class="vuemastery-banner hide" role="banner">
  <a href="https://www.vuemastery.com/free-weekend" target="_blank">
    <img class="vuemastery-banner--logo" src="/images/logo-vuemastery.svg" alt="vuemastery" />
    <div class="vuemastery-banner--wrapper">
      <p>Free Vue Courses on Vue Mastery Feb 22 - Feb 24.<span>Sign up today to get access.</span></p>
    </div>
    <div id="vm-close" class="vuemastery-banner--close"></div>
  </a>
</div>

<script>
  (function () {
    var elBody, elBanner, elClose, elMenu, posMenu, isMenuFixed;

    var initBanner = function () {
      // Get elements
      elBody = document.getElementsByTagName("body")[0];
      elBanner = document.getElementById('vm-banner');
      elClose = document.getElementById('vm-close');
      elMenu = document.getElementById('mobile-bar');

      // Add class to the body
      elBody.classList.add('vuemastery-weekend-promo');
      // Initialize the banner
      elBanner.classList.remove('hide');
      // Init close button action
      elClose.onclick = closeBanner
      
      // Get position of the menu bar
      posMenu = elBanner.clientHeight;
      // Check initial position
      isMenuFixed = window.pageYOffset > posMenu
      if (isMenuFixed) elBody.classList.add('fixed');
    }

    // Get position of the menu when the windows is resized
    var getMenuPosition = function() {
      posMenu = elBanner.clientHeight;
    }

    // This allow the mobile menu to scroll once the banner is not visible
    var fixMenuAfterBanner = function() {
      if (window.pageYOffset > posMenu) {
        if (!isMenuFixed) {
          // The menu will be fixed
          elBody.classList.add('fixed');
          isMenuFixed = true;
        }
      } else if(isMenuFixed) {
        // The menu stay under the banner
        elBody.classList.remove('fixed');
        isMenuFixed = false;
      }
    }

    // Remove the banner once the user click on the cross
    var closeBanner = function(e) {
      // Prevent redirection to vuemastery if click on the close button
      e.preventDefault();
      // Save action in the local storage
      localStorage.setItem('hideVuemasteryBanner', true);
      // Hide the banner
      elBanner.classList.add('hide');
      // Remove events
      window.removeEventListener('resize', getMenuPosition)
      window.removeEventListener('scroll', fixMenuAfterBanner)
      // Remove css
      elBody.classList.remove('vuemastery-weekend-promo');
    }

    // LOAD COMPONENT
    // Check if user already removed the banner
    if(!localStorage.getItem('hideVuemasteryBanner')) {
      // Add event listeners
      window.addEventListener('resize', getMenuPosition)
      window.addEventListener('scroll', fixMenuAfterBanner)
      // Wait for the DOM to be ready
      document.addEventListener("DOMContentLoaded", initBanner);
    }
  })()
</script>
