<div id="vm-banner" class="vuemastery-banner hide" role="banner">
  <a href="https://www.vuemastery.com/free-weekend" target="_blank">
    <img class="vuemastery-banner--logo" src="/images/logo-vuemastery.svg" alt="vuemastery" />
    <div class="vuemastery-banner--wrapper">
      <p>Free Vue Courses on Vue Mastery Feb 22 - Feb 24.<span>Sign up today to get access.</span></p>
    </div>
    <div id="vm-close" class="vuemastery-banner--close"></div>
  </a>
</div>

<script>
  (function () {
    var elBody = document.getElementsByTagName('body')[0];
    var elBanner = document.getElementById('vm-banner');
    var elClose = document.getElementById('vm-close');
    var elMenu = document.getElementById('mobile-bar');
    var nameWrapper = 'vuemastery-weekend-promo';
    var nameFixMenu = 'vuemastery-menu-fixed';
    var nameStorage = 'vuemastery-banner';
    var isMenuFixed, posMenu;

    // Initialise banner after checking user preference
    var initBanner = function () {
      // Add class to the body
      elBody.classList.add(nameWrapper);
      // Initialize the banner
      elBanner.style.display = 'block';
      // Get menu position
      posMenu = elBanner.clientHeight;
      // Init close button action
      elClose.onclick = closeBanner;
      // Check current page scroll position
      isMenuFixed = window.pageYOffset > posMenu;
      // And fixc menu accordingly
      if (isMenuFixed) elBody.classList.add('fixed');
    }

    // Remove the banner once the user click on the cross
    var closeBanner = function(e) {
      // Prevent redirection to vuemastery if click on the close button
      e.preventDefault();
      // Save action in the local storage
      localStorage.setItem(nameStorage, true);
      // Hide the banner
      elBanner.style.display = 'none';
      // Remove events
      toggleBannerEvents(false);
      // Remove css
      elBody.classList.remove(nameWrapper);
    }

    // Get position of the menu when the windows is resized
    var getMenuPosition = function() {
      posMenu = elBanner.clientHeight;
    }

    // This allow the mobile menu to scroll once the banner is not visible
    var fixMenuAfterBanner = function() {
      if (window.pageYOffset > posMenu) {
        if (!isMenuFixed) {
          // The menu will be fixed
          elBody.classList.add(nameFixMenu);
          isMenuFixed = true;
        }
      } else if (isMenuFixed) {
        // The menu stay under the banner
        elBody.classList.remove(nameFixMenu);
        isMenuFixed = false;
      }
    }

    // Add or remove event listerners attached to the DOM
    var toggleBannerEvents = function (on) {
      var method = on ? 'addEventListener' : 'removeEventListener';
      window[method]('resize', getMenuPosition);
      window[method]('scroll', fixMenuAfterBanner);
    }

    // Check if user already removed the banner
    if(!localStorage.getItem(nameStorage)) {
      // Add event listeners
      toggleBannerEvents(true);
      // Load component
      initBanner();
    }
  })()
</script>
