<a
  id="vs"
  href="https://vueschool.io/free-weekend?friend=vuejs&utm_source=vuejs&utm_medium=website&utm_campaign=affiliate&utm_content=top_banner"
  target="_blank"
  rel="noreferrer"
  class="vs-hidden">
  <div
    class="vs-background-wrapper">
    <div class="vs-logo">
      <img src="/images/banners/vs-iso.svg" class="logo-small">
      <img src="/images/banners/vs-logo.svg" class="logo-big">
    </div>
    <div class="vs-core">
      <div class="vs-slogan-wrapper">
        <div class="vs-slogan">
          Free Weekend 1st & 2nd of October
        </div>
        <div class="vs-subline">
          Get Access to ALL Vue School premium courses
        </div>
      </div>
      <div class="vs-button-wrapper">
        <div class="vs-button">
          Join for Free
        </div>
      </div>
    </div>
    <div
      id="vs-close"
      class="vs-close"
      @click.stop.prevent="close">
      <img src="/images/banners/close.svg" alt="Close">
    </div>
  </div>
</a>