<a id="vs" class="vs-hidden" href="https://vueschool.io/sales/price-increase-22?friend=vuejs" target="_blank" rel="noreferrer">
  <div class="vs-iso">
    <img src="/images/banners/vs-iso.svg">
  </div>
  <div class="vs-logo">
    <img src="/images/banners/vs-logo.svg">
  </div>
  <div class="vs-core">
    <div class="vs-slogan">
      <div class="vs-slogan-up">
        Get up to <strong>40% off</strong> your Vue School Subscription
      </div>
      <div class="vs-slogan-down">
        Time Limited Offer
      </div>
    </div>
    <div class="vs-button">
      <div class="vs-button-inside">
        GET OFFER
      </div>
    </div>
  </div>
  <div id="vs-close" class="vs-close">
    <img src="/images/banners/close.svg" alt="Close">
  </div>
</a>
