<a id="vs" class="vs-hidden" href="https://vueschool.io/free-weekend?friend=vuejs" target="_blank" rel="noreferrer">
  <div class="vs-iso">
    <img src="/images/banners/vs-iso.svg">
  </div>
  <div class="vs-logo">
    <img src="/images/banners/vs-logo.svg">
  </div>
  <div class="vs-core">
    <div class="vs-slogan">
      <div class="vs-slogan-up">
         VUE 3 MASTERCLASS - FREE WEEKEND
      </div>
      <div class="vs-slogan-down">
        Register at <strong>vueschool.io/free-weekend</strong>
      </div>
    </div>
    <div class="vs-button">
      <div class="vs-button-inside">
        <img src="/images/banners/free-access.svg" alt="Free Access">
      </div>
    </div>
  </div>
  <div id="vs-close" class="vs-close">
    <img src="/images/banners/close.svg" alt="Close">
  </div>
</a>
