<a id="vs" class="vs-hidden" href="https://vueschool.io/the-vuejs-master-class?friend=vuejs#plans" target="_blank" rel="noreferrer">
  <div class="vs-iso">
    <img src="/images/banners/vs-iso.svg" alt="Vue School logo">
  </div>
  <div class="vs-logo">
    <img src="/images/banners/vs-logo.svg" alt="Vue School logo">
  </div>
  <div class="vs-core">
    <div class="vs-slogan">
      <div class="vs-slogan-up">
        LEARN VUE AT VUE SCHOOL
      </div>
      <div class="vs-slogan-down">
        Register today and get <strong>20% OFF</strong>
      </div>
    </div>
    <div class="vs-button">
      <div class="vs-button-inside">
        <img src="/images/banners/learn-more.svg" alt="Learn More">
      </div>
    </div>
  </div>
  <div id="vs-close" class="vs-close">
    <img src="/images/banners/close.svg" alt="Close">
  </div>
</a>
