<a id="vs" class="vs-hidden" href="https://vueschool.io/sales/flashsale21?friend=vuejs" target="_blank" rel="noreferrer">
  <div class="vs-iso">
    <img src="/images/banners/vs-iso.svg" alt="Vue School logo">
  </div>
  <div class="vs-logo">
    <img src="/images/banners/vs-logo.svg" alt="Vue School logo">
  </div>
  <div class="vs-core">
    <div class="vs-illustration">
      <img src="/images/banners/vs-backpack.svg" alt="backpack illustration">
    </div>
    <div class="vs-slogan">
      <span class="vs-slogan-main">Flash Sale -</span> Less than <span style="color: #1fdb69">48hrs left</span> to get 20% OFF!
    </div>
    <div class="vs-button">
      GET OFFER
    </div>
  </div>
  <div id="vs-close" class="vs-close">
    <img src="/images/banners/close.svg" alt="Close">
  </div>
</a>
