<a id="vs" class="vs-hidden" href="https://vueschool.io/sales/summer-vue?friend=vuejs" target="_blank" rel="noreferrer">
  <div class="vs-iso">
    <img src="/images/banners/vs-iso.svg">
  </div>
  <div class="vs-logo">
    <img src="/images/banners/vs-logo.svg">
  </div>
  <div class="vs-core">
    <div class="vs-backpack">
      <img src="/images/banners/vs-backpack.png" alt="Backpack">
    </div>
    <div class="vs-slogan">
      Less than <span class="vs-slogan-light">48 hours</span> left for the Vue School offer
    </div>
    <div class="vs-button">
      GET ACCESS
    </div>
  </div>
  <div id="vs-close" class="vs-close">
    <img src="/images/banners/close.svg" alt="Close">
  </div>
</a>
