<a id="vs-top" class="vs-hidden" href="#" target="_blank">
  <div class="vs-background-wrapper">
    <div class="vs-logo"></div>
    <div class="vs-core">
      <div class="vs-slogan-wrapper">
        <div id="vs-slogan" class="vs-slogan"></div>
        <div id="vs-subline" class="vs-subline"></div>
      </div>
      <div class="vs-button-wrapper">
        <div id="vs-button" class="vs-button"></div>
      </div>
    </div>
    <div
      id="vs-close"
      class="vs-close">
      <img src="https://vueschool.io/images/close.svg" alt="Close">
    </div>
  </div>
</a>
